<h1>Create a Review</h1>
  <p><%=@error%></p>
<form action="/reviews" method="post">
   <label>Title:</label>
  <input type="text" name="title">
  </br>
   </br>
  <label>Restaurant:</label>
  <input type="text" name="restaurant">
  </br> </br>
  <label>Location:</label>
  <input type="text" name="location">
  </br> </br>
  <label>Star Rating:</label>
  <input type="decimal" name="star_rating">  
  </br> </br>
  <label>Review:</label>
  </br>
  <textarea name="review"></textarea>
  </br> </br>
  <label>Image URL:</label>
  <input type="text" name="image">  
  </br>
  </br>

  <button type="submit">Submit Review</button>
</form>