<h1>Welcome to The Best Food Reviews!</h1>
</br>
<h2>Log in or Sign up today to see the latest food reviews!</h2>
     <button><a href="/login"> Log In</a></button> 
      <button><a href="/signup"> Sign Up</a></button>
